.vs/
EDPoS_API_Core/bin
EDPoS_API_Core/obj
Web.config
App.config
packages/
Test/bin
Test/obj

/*.suo
.vscode/
/*.user
_Resharper*
.hgtags
NuGet.exe
*.user
*.nupkg
.nupkgs/
.docstats
*.ide/
*.lock.json
*.coverage
Test.DB.*
TestResults/
Dapper.Tests/*.sdf
Dapper.Tests/SqlServerTypes/
.dotnet/*
BenchmarkDotNet.Artifacts/
.idea/

**/bin/
**/obj/